{% load static %}
{% comment %} {% block title%}SIGNUP{% endblock title %} {% endcomment %}
{% block content %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
<title>SignUp Form</title>
<body>
    {% comment %} <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" name = "Create User">
    </form> {% endcomment %}
    <div class="content">
        {% comment %} <div class = "col-sm-10">
            <h2 class="text-dark text-center">Sign Up</h2>
    {% if messages %}
    {% for message in messages %}   
    <p {% if message.tags %}{% endif %} class="alert alert-primary text-center">{{message}}</p>
    {% endfor %}
    {% endif %}
    <form action = "" method = "POST" novalidate>
        {% csrf_token %}
        {% for fm in form %}
            <div class="form-group">
                {{ fm.label_tag }} {{ fm }} <small class="text-danger">{{ fm.errors|striptags }}</small>
            </div>
        {% endfor %}
        <input type = "submit" class = "btn btn-primary"/>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-4">{{error}}</p>
            {% endfor %}
            {% endif %} {% endcomment %}
            {% if messages %}
                {% for message in messages %}   
                    <p {% if message.tags %}{% endif %} class="alert alert-primary text-center">{{message}}</p>
                {% endfor %}
            {% endif %}
            <form class="form" action = "" method = "POST" novalidate>
                {% csrf_token %}
                <p class="title">Register </p>
                <p class="message">Signup now and get full access to our app. </p>
                <label>
                    <span>Username</span>
                    {{ fm.label_tag }} {{form.username}} <small class="text-danger">{{ fm.errors|striptags }}</small>
                </label>
                <label>
                    <span>Firstname</span>
                    {{ fm.label_tag }} {{form.first_name}} <small class="text-danger">{{ fm.errors|striptags }}</small>
                </label>
                
                <label>
                    <span>Lastname</span>
                    {{ fm.label_tag }} {{form.last_name}} <small class="text-danger">{{ fm.errors|striptags }}</small>
                    {% comment %} <input class="input" type="text" placeholder="" required=""> {% endcomment %}
                </label>
                
                <label>
                    <span>Email</span>
                    {{ fm.label_tag }} {{form.email}} <small class="text-danger">{{ fm.errors|striptags }}</small>
                    {% comment %} <input class="input" type="email" placeholder="" required=""> {% endcomment %}
                </label> 
                
                <label>
                    <span>Password</span>
                    {{ fm.label_tag }} {{form.password1}} <small class="text-danger">{{ fm.errors|striptags }}</small>
                    {% comment %} <input class="input" type="password" placeholder="" required=""> {% endcomment %}
                </label>
                <label>
                    <span>Confirm password</span>
                    {{ fm.label_tag }} {{form.password1}} <small class="text-danger">{{ fm.errors|striptags }}</small>
                    {% comment %} <input class="input" type="password" placeholder="" required=""> {% endcomment %}
                </label>
                <button class="submit">Submit</button>
                <p class="signin">Already have an acount ? <a href="{url 'login'}">Signin</a> </p>
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-4">{{error}}</p>
                {% endfor %}
                {% endif %}
            </form>
        </div>
</body>
        {% endblock content %}